.submit-button {
    line-height: 44px;
    padding: 0 20px;
    color: #FFF;
    background-color: rgba(0,130,255,1);
    font-size: 14px;
    font-weight: 400;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: rgba(0,130,255,0.8);
}