.App .react-tel-input {
    width: initial;
    height: 34px;
}

.App .react-tel-input input {
    height: 34px;
    box-shadow: none;
    font-size: 16px;
    padding-left: 80px;
}

.App .react-tel-input .flag-dropdown {
    background-color: #f8f8f8;
}

.App .react-tel-input .selected-flag {
    width: 75px;
    height: 32px;
    padding-left: 20px;
}

.App .react-tel-input .selected-flag .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555;
    margin-top: -2px;
    left: 30px;
}

.App .react-tel-input .selected-flag .arrow.up {
    border-bottom: 5px solid #555;
    border-top: none;
    margin-top: -2px;
    left: 30px;
}

.App .react-tel-input .country-list {
    top: 34px;
}