
.reg-form {
    max-width: 370px;
    min-width: 290px;
    padding: 15px;
    margin: 0 auto;
    color: #4a4a4a;
    font-weight: 400;
    line-height: 20px;
}

.reg-form h2 {
    font-weight: 300;
    text-align: center;
    padding: 10px 25px;
}
.reg-form b {
    font-weight: 500;
}

.reg-form label {
    color: #AAA;
    font-weight: 300;
}

.reg-form br + div, .reg-form br + input {
    margin-top: 6px;
}

.reg-form--element {
    margin-top:25px;

}

.reg-form--element__first-name {
    width: calc(50% - 5px);
    display: inline-block;
}
.reg-form--element__second-name {
    width: calc(50% - 5px);
    display: inline-block;
    margin-left: 10px;
}

.reg-form--submit {
    margin-top: 45px;
    text-align: center;
}






