.text-input-component label {
    width: 100%;
    display: inline-block;
}

.text-input-component input[type='text'] {
    border-radius: var(--border-radius);
    border: 1px solid #CCC;
    width: 100%;
    box-sizing: border-box;
    line-height: 32px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4a4a4a;
}
